:root{

	--color-primary:#F1CD83;
	--color-light-s:#FAFAFA;
	--color-light-l:#F6F6F6;
	--color-light-xl:#FFFFFF;
	--color-dark-s:#CDCDCD;
	--color-dark-m:#B2B2B2;
	--color-dark-l:#545454;
	--color-dark-xl:#4C4C4C;
	--color-dark-2xl:#444444;
	--color-dark-3xl:#292929;
	--color-primary-light:#FDDCC4;
}

*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

body{
	position:relative;
	margin:0;
}

.wrapper{
	display:flex;
	margin:0 auto;
	max-width:1280px;
	padding:0 40px;
	justify-content:space-between;
}

.header{
	width:100vw;
	position: absolute;
	top:3.80rem;
}

.logo{
	display:flex;
	flex-direction: column;
}

.logo__title{
	color: var(--color-primary);
	font-family: Georgia;
	font-size:2rem;
	letter-spacing:0.12rem;
	line-height: 110%;

}

.logo__subtitle{
	margin-top:10px;
	color:var(--color-light-xl);
	font-size:0.8125rem;
	letter-spacing: 0.11rem;
	line-height:110%;
	text-align: center;
}

.menu{
	display:flex;
	width:443px;
}

.list{
	display:flex;
	justify-content:space-between;
	width:100%;
	list-style-type:none;
}

.list__link{
	color:var(--color-light-xl);
	font-family: Arial;
	font-size:0.9375rem;
	line-height: 160%;

}

.list__link_disabled{
	color:var(--color-dark-s);
}

.list__link_active{
	border-bottom: solid 3px  var(--color-primary);
}

.list__item{
	display:flex;
	align-items: center;
}

main{
	display:flex;
	flex-flow: column;
	width:100vw;
}

.hero{
	
	padding-top:180px;
	background: url(../assets/noise_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;;
	
}

.hero__wrapper{
	max-width: 1280px;
	margin:0 auto;
	padding:0 40px;
}

.hero__content{
	display:flex;
	flex-flow: row;

}


.hero__inner{
	margin-right:42px;
	display:flex;
	flex-direction:column;
	justify-content: center;
	padding-bottom: 84px
}

.hero__title{
	font-weight: 400;
	font-size:2.75rem;
	font-family: Georgia;
	color:var(--color-light-xl);
	line-height:130%;
	max-width: 19.375rem;
}

.hero__copy{
	margin-top:2.625rem;
	color:var(--color-dark-s);
	line-height: 160%;
	font-family:Arial;
	font-weight:400;
	font-size:0.94rem;

}

.hero_button{
	max-width: 207px;
	border-radius: 100px;
	border:none;
	background-color: var(--color-primary);
	padding:15px 45px;
	margin-top: 45px;
	font-size:1rem;
	font-family:Georgia;
	letter-spacing:0.09rem;

}

.about{
	margin-top:80px;
	margin-bottom: 100px;
	padding-right: 175px;
	padding-left:175px;
}

.about__wrapper{
	max-width: 80rem;
	margin:0 auto;
	padding-right: 175px;
	padding-left:175px;	
}

.about__content{
	display:flex;
	flex-direction:row;
}

.about__inner-title{
	font-family: Georgia;
	font-size: 2.1875rem;
	font-weight: 400;
	line-height: 45px;
	letter-spacing: 0.125rem;
	color:var(--color-dark-l);
}

.about__inner-copy{
	font-family: Arial;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color:var(--color-dark-xl);
}

.about__content-image{
	margin-right:120px;
}



